.page {
    width: 100%;
}

.header {
    display: flex;
}

.header__menu {
    display: flex;
}

.header__menu-item {
    margin-right: 15px;
}

.header__menu-item :last-child {
    margin-right: 0;
}
