[% META title = 'Login' %]

<!-- Login form -->
<form method="post" action="[% c.uri_for('/login') %]">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" size="40" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" size="40" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="submit" value="Submit" /></td>
        </tr>
    </table>
</form>